[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Kevin Huang
	email = kevinhuang@roblox.com
[alias]
	rename = branch -m
	done = "!f() { git checkout ${1:-master} && git branch -D @{-1} && git pull; }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
